<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.aopacloud.superbi.mapper.AuthRoleMapper">
  <resultMap id="BaseResultMap" type="net.aopacloud.superbi.model.entity.AuthRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="workspace_id" jdbcType="INTEGER" property="workspaceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, workspace_id, name, description, creator, remark, create_time, update_time
  </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="net.aopacloud.superbi.model.entity.AuthRole">
        insert into bi_auth_role (workspace_id,`name`, description,creator,remark)
        values (
                #{workspaceId},
                #{name},
                #{description},
                #{creator},
                #{remark}
               )
    </insert>
    <update id="update" parameterType="net.aopacloud.superbi.model.entity.AuthRole">
        update bi_auth_role set `name` = #{name},
                                description = #{description},
                                remark = #{remark}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from bi_auth_role where id = #{id}
    </delete>

    <select id="selectAllByWorkspace" resultType="net.aopacloud.superbi.model.dto.AuthRoleDTO">
        select
        <include refid="Base_Column_List"/>
        from bi_auth_role
        where workspace_id = #{workspaceId}
        <if test="keyword != null and keyword != ''" >
            and (`name` like CONCAT('%',#{keyword},'%')  or description like CONCAT('%',#{keyword},'%'))
        </if>
        order by create_time desc
    </select>

    <select id="selectByNameByWorkspace" resultMap="BaseResultMap">
      select
        <include refid="Base_Column_List"/>
      from bi_auth_role
      where
          `name` = #{name}
          and workspace_id = #{workspaceId}
  </select>
  <select id="countByWorkspace" resultType="java.lang.Integer">
      select count(*) from bi_auth_role where workspace_id = #{workspaceId}
  </select>
    <select id="selectOneById" resultType="net.aopacloud.superbi.model.entity.AuthRole">
        select <include refid="Base_Column_List" /> from bi_auth_role where id = #{id}
    </select>

</mapper>