<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.aopacloud.superbi.mapper.DatasetMetaConfigMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="net.aopacloud.superbi.model.entity.DatasetMetaConfig">
        insert into bi_dataset_meta_config(dataset_id, version, datasource_name, engine, db_name, `table_name`, content,
                                           `sql`,ref_tables,layout)
        values (#{datasetId},
                #{version},
                #{datasourceName},
                #{engine},
                #{dbName},
                #{tableName},
                #{content},
                #{sql},
                #{refTables},
                #{layout})
    </insert>

    <select id="selectOneByDatasetAndVersion" resultType="net.aopacloud.superbi.model.entity.DatasetMetaConfig">
        select
            id,
            dataset_id,
            version,
            ifnull(datasource_name, `db_name`) as datasource_name,
            engine,
            `db_name`,
            `table_name`,
            create_time,
            update_time,
            content,
            `sql`,
            ref_tables,
            layout
        from bi_dataset_meta_config
        where dataset_id = #{datasetId}
        and version = #{version}
    </select>
</mapper>