.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 左侧有勾的选中 */
.selected-with-icon-left {
  position: relative;
  padding-left: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid #1677ff;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) scale(1) translate(-50%, -50%);
  }
}
