ul {
  padding: 0;
}
li {
  list-style: none;
}

a {
  color: #1677ff;

  &[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  &[disabled='false'] {
    color: #1677ff;
    cursor: pointer;
  }
}
